<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="product-card" style="height:325px; width: 250px">
      <a href={{product.productUrl}} target="_blank">
        <img src={{product.imageUrl}} class="mat-card-image" alt="productavatar">
      </a>
      <mat-card-content>
        <h3>{{product.productName}}</h3>
      </mat-card-content>
      <mat-card-actions>
            <b style="padding-left: 150px; padding-right:25px">€ {{product.price/100}} </b>
            <button flex="15" mat-fab color="primary">+</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>