mat-card img{
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 80%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.fill-space {
  flex: 1 1 auto;
}