<div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="loadMoreProducts()">
  <div class="row d-flex">
      <div *ngIf="data.length === 0">
          <h1>Je zoekopdracht '{{searchString}}' heeft niets opgeleverd.</h1>
        </div>
    <div *ngFor="let product of data" class="col-lg-3 col-4 d-flex" style="padding-bottom: 50px;">
      <!--Card-->
      
      <div class="card">
        <!--Card image-->
        <div class="card-img-top" mdbRippleRadius>
          <a href={{product.productUrl}} target="blank">
          <img src={{product.imageUrl}} class="img-fluid" alt="">
          </a>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ product.productName }}</strong>
          </h5>
          <h6 class="card-subtitle">
            € {{product.price / 100 | number: '1.2'}}
          </h6>
        </div>
        <!--Card content-->
        <div>
          <button class="add-to-cart-button float-right" (click)="addProductToCard(product)" mat-fab>
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
      <!--Card-->

    </div>
  </div>
</div>