.fill-space{ 
    flex: 1 1 auto
}

.logo {
    margin-right: 250px;
}

.navbar-nav{
    margin-right: 100px;
}

#content {
    padding-top: 100px;
}

.fixed-header {
    position: fixed;
    z-index: 999;
  }
