<mat-toolbar color="primary">
    <b>Goedkoopschappen</b>
    <span class="fill-space"></span>

    <mat-icon style="padding: 10px">search</mat-icon>
    <form submit="searchProducts()">
    <mat-form-field >
        <input matInput [(ngModel)]="searchString" name="searchInput" type="text" (keydown)="searchProducts($event)">
    </mat-form-field>
</form>


</mat-toolbar>
<app-product [products]="products"></app-product>

<!-- <mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav class="sidenav">
        Sidenav content goes here
    </mat-sidenav>

    <div class="sidenav-content">
        <button mat-button (click)="sidenav.open()">
            Open sidenav!
        </button>
    </div>
</mat-sidenav-container> -->