#top-div {
    position: relative;
    height: 100vh;
    z-index: -1;
    overflow: hidden;   
}

.slideshow-div {
    height: 100%;
}


.home-content {
    position: absolute;
    top: 300px;
    z-index: 2; 
}

.information {
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    background: rgba(107, 152, 197, 0.95);
    border-radius: 50px 50px 50px 50px;
    padding: 50px;
}

.sign-up {
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    background: rgba(107, 152, 197, 0.95);
    border-radius: 50px 50px 50px 50px;
    padding: 50px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 2em;
}

li {
    color: white;
    margin: 20px;
    font-style: italic;
}

p {
    color: white;   
}